/*
Error: Invalid CSS after "$green: #95BB4D": expected "{", was ";"
        on line 3 of src/components/help/map.scss

1: <<<<<<< HEAD
2: =======
3: $green: #95BB4D;
4: $red: #EF5D60;
5: $lightPurple: #866BB6;
6: $darkPurple: #5A496A;
7: 
8: >>>>>>> master

Backtrace:
src/components/help/map.scss:3
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:1179:in `expected'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:1115:in `expected'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:1110:in `tok!'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:654:in `block'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:647:in `ruleset'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:673:in `block_child'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:663:in `block_contents'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:123:in `stylesheet'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:39:in `parse'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:403:in `_to_tree'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:378:in `_render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:295:in `render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/exec/sass_scss.rb:410:in `run'
/usr/lib/ruby/vendor_ruby/sass/exec/sass_scss.rb:63:in `process_result'
/usr/lib/ruby/vendor_ruby/sass/exec/base.rb:52:in `parse'
/usr/lib/ruby/vendor_ruby/sass/exec/base.rb:19:in `parse!'
/usr/bin/sass:8:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"$green: #95BB4D\": expected \"{\", was \";\"\A         on line 3 of src/components/help/map.scss\A \A 1: <<<<<<< HEAD\A 2: =======\A 3: $green: #95BB4D;\A 4: $red: #EF5D60;\A 5: $lightPurple: #866BB6;\A 6: $darkPurple: #5A496A;\A 7: \A 8: >>>>>>> master"; }
