$green: #95BB4D;
$red: #EF5D60;
$lightPurple: #866BB6;
$darkPurple: #5A496A;

// MAIN PAGE BUILD

.header {
    position: absolute;
    width: 100%;
    height: 40em;
}

.paragraph-position {
    margin-top: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
    padding-top: 1%;
}

.head-paragraph {
    margin: 0px;
    font-weight: bold;
    color: white;
}
.paragraph {
    color: white;
}

.credit{
    color: white;
    font-size: 10px;
}

.graph-background {
    position: absolute;
    margin-top: 11em;
    width: 100%;
    height: 17.8em;
    background-color: white;

}

.graph-position {
    width: 100%;
    height: 17.8em;
}

.slick-dots {
    margin-top: 10em;
    width: 100%;
    height: 2em;
    background-color: white;
}

.button-container{
    position: absolute;
    margin-top: 32.75em;
    width: 100%;
    height: 3.5em;
    text-align: center;
}

.button {
    border-radius: 25px;
    font-weight: 600;
    background-color: #95BB4D;
    border-color: #95BB4D;
    padding: 15px 20px;
}

// PAGE 1

.header-color-one {
    background-color: $lightPurple;
}

// PAGE 2

.header-color-two {
    background-color: $red;
}

// PAGE 3

.header-color-three {
    background-color: $lightPurple;
}

// PAGE 4

.header-color-four {
    background-color: $darkPurple;
}
