$green: #95BB4D;
$red: #EF5D60;
$lightPurple: #866BB6;
$darkPurple: #5A496A;

.help {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: $lightPurple;
}

.map {
    margin-bottom: 5%;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
}

.map-home-button {
  margin-top: 5%;
  margin-left: 38vw;
}

.loader {
  border: 16px solid $darkPurple;
  border-top: 16px solid $green;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.results {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: center;  
  background-color: white;
    .result-list {
      list-style: none;
    }
}

.result {
  width: 80%;
  padding: 5px;
}