body, html, #root, main {
  margin: 0 auto;
  padding: 0;
  min-height: 100%;
  min-width: 100%;
  max-height: 100%;
  max-width: 100%;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}
@media (max-width: 1200px) {
  body html, html html, #root html, main html {
    font-size: 28px;
  }
}
@media (max-width: 768px) {
  body html, html html, #root html, main html {
    font-size: 26px;
  }
}

h1 {
  font-size: 3rem;
  font-weight: 600;
}

h2 {
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

a {
  color: #5A496A;
  text-decoration: underline 2px solid #95BB4D;
}
a:hover {
  background-color: #5A496A;
  color: white;
}

.nav {
  background-color: #95BB4D;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .nav {
    justify-content: flex-end;
  }
}

.nav-button {
  border: 3px solid #5A496A;
  border-radius: 0;
  color: white;
  font-weight: 600;
  background-color: #5A496A;
  border-color: #5A496A;
}
.nav-button:hover {
  border: 3px solid #95BB4D;
  background-color: #5A496A;
  color: white;
}
.nav-button:active {
  border: 3px solid #95BB4D;
  background-color: #5A496A;
  color: white;
}
.nav-button:focus {
  border: 3px solid #95BB4D;
  background-color: #5A496A;
  color: white;
}
.nav-button:link {
  border: 3px solid #95BB4D;
  background-color: #5A496A;
  color: white;
}
@media (min-width: 768px) {
  .nav-button {
    margin-left: 3px;
    justify-content: flex-end;
  }
}
@media (min-width: 1200px) {
  .nav-button {
    margin-left: 10px;
  }
}

.button {
  border: 3px solid #5A496A;
  color: white;
  padding: 10px;
  margin: 15px;
  border-radius: 25px;
  font-weight: 600;
  background-color: #5A496A;
  border-color: #5A496A;
}
.button:hover {
  border: 3px solid #95BB4D;
  background-color: #5A496A;
  color: white;
}
.button:active {
  border: 3px solid #95BB4D;
  background-color: #5A496A;
  color: white;
}
.button:focus {
  border: 3px solid #95BB4D;
  background-color: #5A496A;
  color: white;
}
.button:link {
  border: 3px solid #95BB4D;
  background-color: #5A496A;
  color: white;
}

.image-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.home {
  margin: 0 auto;
  padding: 0;
  min-height: 100%;
  min-width: 100%;
  max-height: 100%;
  max-width: 100%;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
  flex-flow: column nowrap;
  background: black url("../images/hero.jpg") no-repeat center center fixed;
  background-size: cover;
}

.home__heading {
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  font-weight: 600;
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.home__button-container {
  width: 100%;
  margin-bottom: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
}

.help {
  margin: 0 auto;
  padding: 0;
  min-height: 100%;
  min-width: 100%;
  max-height: 100%;
  max-width: 100%;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: column nowrap;
  background: #95BB4D url("../images/search.jpg") no-repeat bottom center fixed;
}
.help .help__intro {
  padding: 1rem;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
@media (min-width: 1200px) {
  .help .help__intro {
    width: 50%;
    align-self: center;
  }
}
.help .help__form {
  width: 100%;
}
@media (min-width: 768px) {
  .help .help__form {
    width: 60%;
  }
}
@media (min-width: 1200px) {
  .help .help__form {
    width: 70%;
  }
}
.help .help__input-group {
  margin-top: 25px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-evenly;
}
.help .help__input {
  margin: 0 1rem 0 1rem;
}
.help .help__input:focus {
  box-shadow: 0 0 0 0.2rem rgba(134, 107, 182, 0.5);
}
.help .help__input:active {
  box-shadow: 0 0 0 0.2rem rgba(134, 107, 182, 0.5);
}
.help .help__input-label {
  margin-top: 15px;
  font-size: 14px;
}
.help .help__button {
  margin-left: 5rem;
}

.help__results {
  display: flex;
  flex-flow: column wrap;
  background-color: #5A496A;
  width: 100%;
  padding-top: 2rem;
}
.help__results .help__results-container {
  padding: 1rem;
  background-color: white;
}
@media (min-width: 1200px) {
  .help__results .help__results-container {
    width: 50%;
    align-self: center;
  }
}
.help__results .help__results-heading {
  padding-left: 0.75rem;
  padding-bottom: 1rem;
}
.help__results .result-list {
  list-style: none;
  padding: 0.5rem;
}
.help__results .result {
  width: 80%;
  padding: 0.25rem;
}
@media (min-width: 1200px) {
  .help__results .result-container {
    margin-left: 25%;
  }
}

.stats {
  margin: 0 auto;
  padding: 0;
  min-height: 100%;
  min-width: 100%;
  max-height: 100%;
  max-width: 100%;
  height: 100%;
  width: 100%;
}

.carousel {
  width: 100%;
  height: 100%;
}

.carousel__slides {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 75%;
}

.carousel__header {
  width: 100%;
  height: 50%;
  padding: 2rem 0 2rem 0;
}
@media (min-width: 1200px) {
  .carousel__header {
    height: 25%;
  }
}

.carousel__heading--background {
  background: black url("../images/stats.jpg") no-repeat top center fixed;
  padding: 1rem;
}
.carousel__heading--background .carousel__heading {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.carousel__heading--background .carousel__heading .carousel__heading-header {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  color: white;
  padding: 1rem;
}
@media (min-width: 768px) {
  .carousel__heading--background .carousel__heading .carousel__heading-header {
    padding: 2rem;
  }
}

.carousel__content {
  padding: 1rem;
  max-width: 60ch;
}
.carousel__content .carousel__content--credit {
  margin-top: 1rem;
  font-size: 14px;
}

.carousel__graph {
  width: 100%;
  height: 100%;
  align-self: center;
}

@media (min-width: 768px) {
  .slick-dots {
    bottom: 25px;
  }
}
@media (min-width: 1200px) {
  .slick-dots {
    bottom: 50px;
  }
}

/*# sourceMappingURL=index.css.map */
