body, html, #root, main {
  margin: 0 auto;
  padding: 0;
  min-height: 100%;
  min-width: 100%;
  max-height: 100%;
  max-width: 100%;
  height: 100%;
  width: 100%;
  min-height: 100%;
  min-width: 100%;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}
@media (max-width: 900px) {
  body html, html html, #root html, main html {
    font-size: 28px;
  }
}
@media (max-width: 400px) {
  body html, html html, #root html, main html {
    font-size: 26px;
  }
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 2.5rem;
}

a {
  color: #95BB4D;
  text-decoration: underline;
  font-weight: bold;
}
a:hover {
  background-color: #95BB4D;
  color: #5A496A;
}

.nav {
  background-color: #866bb6;
  display: flex;
  justify-content: space-evenly;
}

.button {
  color: #5A496A;
  padding: 15px;
  margin: 20px;
  border-radius: 25px;
  font-weight: 600;
  background-color: #95BB4D;
  border-color: #95BB4D;
}
.button:hover {
  background-color: #5A496A;
  color: white;
}
.button:active {
  background-color: #5A496A;
  color: white;
}
.button:focus {
  background-color: #5A496A;
  color: white;
}
.button:link {
  background-color: #5A496A;
  color: white;
}

.home {
  margin: 0 auto;
  padding: 0;
  min-height: 100%;
  min-width: 100%;
  max-height: 100%;
  max-width: 100%;
  height: 100%;
  width: 100%;
  flex-flow: column nowrap;
  background-image: url("../images/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.heading {
  font-size: 4rem;
  font-weight: 600;
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.help {
  margin: 0 auto;
  padding: 0;
  min-height: 100%;
  min-width: 100%;
  max-height: 100%;
  max-width: 100%;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: column nowrap;
  background-color: #866bb6;
  color: white;
}
.help .help__intro {
  width: 100%;
}
.help .help__input-group {
  margin-top: 25px;
  width: 100%;
}
.help .help__input {
  width: 100px;
}

.help__results {
  background-color: #866bb6;
  width: 100%;
  height: auto;
  z-index: 2;
}
.help__results .result-list {
  list-style: none;
}
.help__results .result {
  width: 80%;
  padding: 5px;
}

.loader {
  border: 16px solid #5A496A;
  border-top: 16px solid #95BB4D;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.stats {
  margin: 0 auto;
  padding: 0;
  min-height: 100%;
  min-width: 100%;
  max-height: 100%;
  max-width: 100%;
  height: 100%;
  width: 100%;
}

.carousel {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
}

.carousel__slides {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 75%;
}

.carousel__header {
  width: 100%;
  height: 33%;
}

.carousel__graph {
  width: 100%;
  height: 100%;
}

.carousel__button-container {
  width: 100%;
  height: 33%;
}

/*# sourceMappingURL=index.css.map */
