/*
Error: Invalid CSS after "...Stashed changes": expected "{", was ""
        on line 88 of src/index.scss

83:     background-size: cover;
84: }
85: 
86: //Map component
87: >>>>>>> Stashed changes

Backtrace:
src/index.scss:88
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:1179:in `expected'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:1115:in `expected'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:1110:in `tok!'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:654:in `block'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:647:in `ruleset'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:673:in `block_child'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:666:in `block_contents'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:123:in `stylesheet'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:39:in `parse'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:403:in `_to_tree'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:378:in `_render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:295:in `render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/exec/sass_scss.rb:410:in `run'
/usr/lib/ruby/vendor_ruby/sass/exec/sass_scss.rb:63:in `process_result'
/usr/lib/ruby/vendor_ruby/sass/exec/base.rb:52:in `parse'
/usr/lib/ruby/vendor_ruby/sass/exec/base.rb:19:in `parse!'
/usr/bin/sass:8:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...Stashed changes\": expected \"{\", was \"\"\A         on line 88 of src/index.scss\A \A 83:     background-size: cover;\A 84: }\A 85: \A 86: //Map component\A 87: >>>>>>> Stashed changes"; }
