// Variables

$green: #95BB4D;
$red: #EF5D60;
$lightPurple: #866BB6;
$darkPurple: #5A496A;

// Mixins


// Page structure

body, html, #root, .App {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}



.headLogo{
  /* background-image: url("mhf-logo.png"); */
  min-width: 100%;
  height: 8%;

}

.header-logo {
  background-image: url("./images/mhf-logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.image-container {
  background-image: url("./images/hero-original.jpg");
  height: 100%;
}

.logo{
  background-image: url("./images/mhf-logo.png");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

//Page content

.heading{
  font-size: 35px;
  font-weight: 700;
  color: white;
  text-shadow: 2px 2px 2px rgba(80, 80, 80, 0.5);
}

.button {
  border-radius: 25px;
  font-weight: 600;
  background-color: $green;
  border-color: $green;
  padding: 15px 20px;
}


.image-container {
    background-image: url("./images/hero-original.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
