/*
Error: Invalid CSS after "...a07eab8befa63d0": expected "{", was ""
        on line 14 of src/index.scss

9: 
10: body {
11:     background: $red;
12: }
13: >>>>>>> 8ec64aa34f05d90f03f467880a07eab8befa63d0

Backtrace:
src/index.scss:14
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:1179:in `expected'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:1115:in `expected'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:1110:in `tok!'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:654:in `block'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:647:in `ruleset'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:673:in `block_child'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:666:in `block_contents'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:123:in `stylesheet'
/usr/lib/ruby/vendor_ruby/sass/scss/parser.rb:39:in `parse'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:403:in `_to_tree'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:378:in `_render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:295:in `render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/exec/sass_scss.rb:410:in `run'
/usr/lib/ruby/vendor_ruby/sass/exec/sass_scss.rb:63:in `process_result'
/usr/lib/ruby/vendor_ruby/sass/exec/base.rb:52:in `parse'
/usr/lib/ruby/vendor_ruby/sass/exec/base.rb:19:in `parse!'
/usr/bin/sass:8:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...a07eab8befa63d0\": expected \"{\", was \"\"\A         on line 14 of src/index.scss\A \A 9: \A 10: body {\A 11:     background: $red;\A 12: }\A 13: >>>>>>> 8ec64aa34f05d90f03f467880a07eab8befa63d0"; }
